<div class="col-xs-9">
	<h3>　Comment form</h3>
	<%= form_with(model: [book, book_comment], remote: true) do |f| %>
		<div class="row">
			<div class="col-sm-12">
				<%= f.text_area :comment, rows:'5', id: "text_area", class: "form-control",placeholder: "コメントをここに" %>
			</div>
		</div>
		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>
</div><!--row-->