<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul>
           	<p>---  error message  ---</p>

      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<!---エラーメッセージ-->